/* font-family: 'Revalia', cursive;
font-family: 'Chango', cursive;
font-family: 'Modak', cursive;
font-family: 'Baloo Da', cursive;
font-family: 'Geostar Fill', cursive;
font-family: 'Geostar', cursive;
font-family: 'Baloo', cursive; */

body {
    background-image: url("../images/darkness.png");
    font-family: 'Baloo Da', cursive;
    font-size: 30px;
    color: #ffffff;
}

h1 {
    padding: 10px;
}

h2 {
    padding: 10px;
}

header {
    text-align: center;
    font-family: 'Revalia', cursive;
    border-bottom: 5px solid #ffffff;
    margin-bottom: 20px;
    overflow: auto;
}

main {
    text-align: center;
    border: 5px solid #ffffff;
    border-radius: 5px;
    padding: 10px;
    width: 50%;
    margin: auto;
}

#word-display {
    font-size: 30px;
    letter-spacing: 10px;
}

#letters-display {
    font-size: 30px;
    letter-spacing: 10px;
}